<% if (user) { %>
	<%- include('./partials/header_logueado') %>
	<% } else{ %>
	<%- include('./partials/header') %>
	<%} %>
<!-- Novedades -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title"><%= data.title%></h2>
			<figure class="product-box_image">
				<img class="product-detail-img" src="<%= data.photo %>">
			</figure>
		</div>
		<!-- Show the "ultimos" products -->
		<h2>Comments</h2>
		<% if (user) {%>
			<a class="btn btn-primary" href="/product/<%= data.id %>/edit"> Editar </a>
			<div>
				<form class="formularios" action="/products/<%= data.id %>/delete" method="post">
					<input class="btn btn-primary" type="submit" value="Borrar">
				</form>
				
			</div>
		<% } %> 
	</div>
</div>
<%- include('./partials/footer.ejs')%>;